.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}

.header-nav__list {
    display: flex;
    gap: 0 34px;
}

.header-nav__link {
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto-Regular';
}

.header-btn {
    display: flex;
    gap: 0 14px;
}

.btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    font-size: 13px;
    color: #FFFFFF;
}

.btn_orange {
    background-color: #EF7F04;
}

.btn_blue {
    background-color: #3B3A63;
}

.btn__img {
    margin-right: 12px;
}

.btn__text {
    font-family: 'Roboto-Regular';
}