.question__content {
    background: #EF7F1A;
    border-radius: 7px;
    margin-bottom: 75px;
}

.question__title {
    color: #FFFFFF;
    padding: 40px 0 50px;
}

.qustion__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 101px 63px 101px;
}

.question__item {
    background: #EEEEF3;
    border-radius: 3px;
    padding: 30px 32px 30px 19px;
    color: #2F2F51;
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
}

.question__item:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.question__item[open] .question__subtitle path {
    transform: rotate(180deg) translate(-31px, -17px);
}

.question__subtitle {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    clip: rect(0 0 0 0);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.question__subtitle:hover {
    color: #EF7F04;
}

.question__subtitle:hover path {
    stroke: #EF7F1A;
}

.queston__description {
    padding-top: 24px;
    color: #000000;
}

@media screen and (max-width:992px) {
    .question__content {
        margin: 0 56px 40px;
    }    
}