.section-title {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto-Bold';
    color: #2F2F51;
}

.services__title {
    padding: 65px 0 48px 0;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.services-card {
    height: 268px;
    width: 595px;
    border-radius: 3px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.services-card_bg-1 {
    background-image: url(../images/services/background_windows.png);
}

.services-card_bg-2 {
    background-image: url(../images/services/background_loggia.png);
}

.services-card_bg-3 {
    background-image: url(../images/services/background_house.png);
}

.services-card_bg-4 {
    background-image: url(../images/services/background_office.png);
}

.services-card__head {
    display: flex;
    padding-top: 55px;
    margin-left: 50px;
    align-items: center;
    height: 50%;
}

.services-card__title {
    color: #2F2F51;
    margin-left: 20px;
    font-size: 24px;
    width: 260px;
    font-family: 'Roboto-Bold';
    line-height: 28px;
}

.services-card__description {
    padding-top: 25px;
    margin-left: 50px;
    width: 300px;
    height: 50%;
    color: #2F2F51;
    line-height: 19px;
    font-family: 'Roboto-Regular';
}