.section-title {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #2F2F51;
}

.services__title {
    padding: 65px 0 48px 0;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.services-card {
    height: 268px;
    width: 595px;
    border-radius: 3px;
}

.services-card:hover {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.services-card_bg-1 {
    background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), 
    url(../images/services/background_windows.png) center center no-repeat;
}

.services-card_bg-2 {
    background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), 
    url(../images/services/background_loggia.png) center center no-repeat;
}

.services-card_bg-3 {
    background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), 
    url(../images/services/background_house.png) center center no-repeat;
}

.services-card_bg-4 {
    background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), 
    url(../images/services/background_office.png) center center no-repeat;
}

.services-card__head {
    display: flex;
    padding-top: 55px;
    margin-left: 50px;
    align-items: center;
    height: 50%;
}

.services-card__title {
    color: #2F2F51;
    margin-left: 20px;
    font-size: 24px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 28px;
}

.services-card__description {
    padding-top: 25px;
    margin-left: 50px;
    width: 300px;
    height: 50%;
    color: #2F2F51;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 992px) {
    .services__title {
        padding: 47px 0 30px 0;
    }
    
    .services-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 38px;
    }
}